<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>测试页面</title>
    <!-- 加载CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/testcss.css" rel="stylesheet">
</head>
<body style="position:absolute;top:0px;left:0px;right:0px;bottom:0px;padding:0;margin: 0;">

<div class="head-menu" th:fragment="topbar">
    <div style="float: right;text-align:center;line-height:50px;">
        <a href="#" class="btn btn-link" role="button">消息</a>
        <div class="btn-group">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                用户 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#change">修改密码</a></li>
                <li><a href="#" data-toggle="modal" data-target="#mymsg" id="msg">个人信息</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" th:text="${user}">当前账号</a></li>
            </ul>
        </div>
        <a href="/index" class="btn btn-link" role="button">返回首页</a>
        <a href="#" class="btn btn-link" role="button" data-toggle="modal" data-target="#help">帮助</a>
        <div id="help" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    这里显示帮助信息
                </div>
            </div>
        </div>
        <!-- 修改密码 -->
        <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <form id="pdform" action="#" method="POST">
                            <table class="table">
                                <tr>
                                    <td wdith="20%">旧的密码:</td>
                                    <td width="80%"><input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="OldPassword"></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">新的密码:</td>
                                    <td width="80%"><input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="NewPassword"></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">确认密码:</td>
                                    <td width="80%"> <input type="password" class="form-control" id="AginPassword" name="AginPassword" placeholder="AginPassword"></td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-default" id="changepassword">修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 个人信息 -->
        <div class="modal fade" id="mymsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">个人信息</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td wdith="20%">姓名:</td>
                                <td width="80%"><input type="text" value="NULL" class="form-control" id="name" readonly/></td>
                            </tr>
                            <tr>
                                <td wdith="20%">账号:</td>
                                <td width="80%"><input type="text" value="NULL" class="form-control" id="account" readonly/></td>
                            </tr>
                            <tr>
                                <td wdith="20%">性别:</td>
                                <td width="80%"><input type="text" value="NULL" class="form-control" id="sex" readonly/></td>
                            </tr>
                            <tr>
                                <td wdith="20%">年龄:</td>
                                <td width="80%"><input type="text" value="NULL" class="form-control" id="year" readonly/></td>
                            </tr>
                            <tr>
                                <td wdith="20%">部门:</td>
                                <td width="80%"><input type="text" value="NULL" class="form-control" id="department" readonly/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="left-menu" id="leftmenu">
    <div style="text-align:center;line-height:50px;">
        <img src="images/logo2.png">
    </div>
    <div>
        <ul class="nav nav-pills nav-stacked">
            <li th:class="${activeState=='TeacherHome'?'active':''}"><a href="/TeacherHome">首页</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li th:class="${activeState=='Data'?'active':''}"><a href="/Data">课程数据</a></li>
            <li th:class="${activeState=='Chart'?'active':''}"><a href="/Chart">数据图表</a></li>
        </ul>

        <ul class="nav nav-pills nav-stacked">
            <li><a href="#" data-toggle="modal" data-target="#feedback">反馈</a></li>
            <!-- 反馈的消息 -->

            <div id="feedback" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div style="text-align:center;line-height:50px;">
                            反馈内容：
                            <form style="padding: 10px" action="#" method="GET">
                                <textarea name="mytextarea" rows="10" class="form-control"></textarea>
                                <input class="btn btn-default" type="submit" value="提交">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>


<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery-3.3.1.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>